

div class="content-section-a">

    <br />

    <div class="container">

      <br /> <br /> <br /> 

      
    <h4 class="section-heading">Contact</h4>


<%= form_for @message, :url => 'create' do |form| %>


  <% if @message.errors.any? %>
    <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

    <div class="form-group" >
  <div class="row">  
<div class="col-xs-6">

    <div >
      <%= form.label :name %><br/>
      <%= form.text_field :name %>
    <br/><br/>
    </div>
    
    
    <div >
      <%= form.label :email %><br/>
      <%= form.text_field :email %>
      <br/><br/>
    </div>
    
    <div >
      <%= form.label :subject %><br/>
      <%= form.text_field :subject %>
      <br/><br/>
    </div>
  
    <div >
      <%= form.label :body %><br/>
      <%= form.text_area :body %>
      <br/><br/>
    </div>
  

  </div>

  <br><br>
 </div>
  

   <button class="btn btn-info" type="submit">Send email</button> 
 
 </div>

<% end %>

<br><br><br><br><br><br>

    
    <!-- /.container -->

</div>